extends layout

block content
  .inner
    form.form(action="/register" method="POST")
      h2 Register
      label(for="name") Name
      input(type="text" name="name" id="name" required)
      label(for="email")
      input(type="email" name="email" id="email" required)
      label(for="password")
      input(type="password" name="password" id="password")
      label(for="password-confirm")
      input(type="password" name="password-confirm" id="password-confirm")
      input(type="submit" value="Register ➡")